    <div class="card w-75 position-relative top-0 start-50 translate-middle-x mb-3">
        <div class="d-flex justify-content-between card-header navbar">
            <div>
                post
            </div>
            <div>
                post
            </div>
        </div>
        <div class="card-body body">
          <blockquote class="blockquote mb-0">
            <p>A well-known quote, contained in a blockquote element.</p>
          </blockquote>
        </div>
    </div>

    <div class="card" >
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <input value={{blog_id}} id="post_id">
            </div>
        </div>
    </div>

    {{!-- add submit button and create it into a form--}}
