  <div class="card w-75 position-relative top-0 start-50 translate-middle-x mb-3 blog-container">
    <form class="row g-3 blog-form">
      <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Title</label>
        <input type="text" class="form-control" id="inputEmail4">
      </div>
            <div class="col-md-12">
        <label for="inputEmail4" class="form-label">New Post</label>
        <input type="text" class="form-control" id="inputEmail4">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-secondary">Submit</button>
      </div>
    </form>
  </div>